{% extends "base.html" %}
{% block links %}
{% endblock %}
{% block content %}

<h1>Создание новой задачи</h1>


<form action="/create/" method="post">
    {% csrf_token %}
    <br><h5><label>Статус:</label><br/></h5>
    <select name="status" id="">
    {% for s in status_choices %}
        <option value="{{ s.0 }}">{{ s.1 }}</option>
    {% endfor %}
    </select>
    <h5><br><label>Подробное описание:</label><br/></h5>
    <textarea class="text-content" name="description_detail"></textarea><br/>
    <h5><br><label>Описание :</label><br/></h5>
    <input type="text" name="description"/><br/>
    <h5><br><label>Дата:</label><br/></h5>
    <input type="date" name="date_completion"/><br/>
    <br/>
    <input type="submit" value="Дропнуть)"/>
</form>
{% endblock %}